[Desktop Entry]
Name=Koi
Comment=Auto light/dark theme KDE Plasma Desktop (to disable, delete this file)
Categories=Utility
DBusActivatable=true
Exec=koi
GenericName=Theme Switcher
Icon=koi
Implements=dev.baduhai.Koi;local.KoiDbusInterface;org.freedesktop.DBus.Introspectable;org.freedesktop.DBus.Properties;org.freedesktop.DBus.Peer
Keywords=Theme;Switch;Light;Dark;Schedule;Sunrise;Sunset;Dusk;Dawn;Timer;Kvantum;Set;
MimeType=
Path=
SingleMainWindow=true
StartupNotify=false
StartupWMClass=Koi
Terminal=false
TerminalOptions=
TryExec=koi
Type=Application
Version=1.5
X-KDE-SubstituteUID=false
X-KDE-Username=
OnlyShowIn=KDE;
