[Desktop Entry]
Type=Application
Exec=/usr/lib/pamac-plasma/update-notify.sh
X-KDE-StartupNotify=false
OnlyShowIn=KDE
NoDisplay=false
Terminal=false
Categories=GNOME;GTK;System;PackageManager;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Icon=system-software-install
Name=Update notifier
Comment=Notify when updates are available
Keywords[af]=bywerkings;opgradeer;bronne;lêerstoor;voorkeure;installeer;verwyder;program;sagteware;toep;winkel;
Keywords[ar]=تحديثات;ترقيات;مصادر;مستودعات;تفضيلات;تنصيب;إزالة;برنامج;برمجية;تطبيق;سوق;تحديث;ترقية;مصدر;مستودع;
Keywords[as]=আপডেইটসমূহ;উন্নয়ন;উৎসসমূহ;ভঁৰালসমূহ;পছন্দসমূহ;ইনস্টল;আনইনস্টল;প্ৰগ্ৰাম;চফ্টৱেৰ;এপ;সংৰক্ষণ;
Keywords[bg]=updates;upgrade;sources;repositories;preferences;install;uninstall;program;software;app;store;обновления;надграждане;източници;хранилища;предпочитания;настройки;инсталиране;деинсталиране;програма;софтуер;приложение;магазин;
Keywords[bn]=আপডেট;আপগ্রেড;উৎস;ভান্ডার;পছন্দ;সংস্থাপন;অসংস্থাপন;প্রোগ্রাম;সফটওয়্যার;এ্যাপ;দোকান;
Keywords[bs]=Ažuriranje;Nadogradnja;Izvor;Repozicija;Postavke;Instalacija;Deinstalacija;Program;Sofver;App;Radnja;
Keywords[ca]=Actualitzacions;Actualització;Fonts;Dipòsits;Preferències;Instal·lació;Desinstal·lació;Aplicació;Programa;Apli;Botiga;
Keywords[ca@valencia]=Actualitzacions;Actualització;Fonts;Dipòsits;Preferències;Instal·lació;Desinstal·lació;Aplicació;Programa;Apli;Botiga;
Keywords[cs]=aktualizace;povýšení;zdroje;repozitáře;předvolby;nastavení;instalace;odinstalace;odebrání;program;software;aplikace;obchod;
Keywords[da]=Opdateringer;Opgrader;Kilder;Pakkearkiver;Indstillinger;Installer;Afinstaller;Program;Software;App;Butik;
Keywords[de]=Aktualisierungen;Systemaktualisierung;Quellen;Einstellungen;Installieren;Entfernen;Programm;Software;App;Store;Anwendung;Update;
Keywords[el]=Ενημερώσεις;Αναβαθμίσεις;Πηγές;Αποθετήρια;Προτιμήσεις;Εγκατάσταση;Απεγκατάσταση;Πρόγραμμα;Λογισμικό;Εφαρμογή;Αποθήκευση;Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
Keywords[en_GB]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
Keywords[eo]=Ĝisdatigoj;Altgradigo;Fontoj;Deponejoj;Agordoj;Instali;Malinstali;Programo;Programaro;Aplikaĵo;Butiko;
Keywords[es]=Actualizaciones;Actualizar;Fuentes;Repositorios:Preferencias;Instalar;Desinstalar;Programa;Software;App;Almacén;
Keywords[eu]=Eguneraketak;Bertsio-berritzeak;Iturburuak;Biltegiak;Hobespenak;Instalatu;Desinstalatu;Programa;Softwarea;Aplikazioa;Denda;App;
Keywords[fa]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;به‌روز رسانی‌ها;ارتقا;منابع;مخازن;مخزن;ترجیحات;نصب;حذف;برنامه;نرم‌افزار;اپ;استور;
Keywords[fi]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;Päivitys;Päivitykset;Lähteet;Ohjelmistolähteet;Ohjelmistovarastot;Asenna;Poista;Ohjelma;Sovellus;Kauppa;
Keywords[fr]=mises à jour;mise à niveau;sources;dépôts;préférences;installer;désinstaller;programmes;logiciels;applications;magasin;boutique;
Keywords[fur]=Inzornaments;Avanzament;Sorzints;Repositories;Preferencis;Instalâ;Disinstalâ;Program;Software;Aplicazion;Negozi;
Keywords[gd]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;ùrachadh;ùrachaidhean;ùraich;àrdachadh;àrdaich;tùsan;ionad-tasgaidh;ionadan-tasgaidh;stàlaidh;stàladh;dì-stàlaich;dì-stàladh;prògram;bathar-bog;aplacaid;bùth;
Keywords[gl]=Actualizacións;Anovar;Orixes;Repositorios;Preferenzas;Instalar;Desinstalar;Programa;Software;Aplicación;Tenda;
Keywords[he]=עדכונים;שדרוג;מקורות;מאגרים;העדפות;התקנה;הסרה;מחיקה;תכנית;תכנה;יישום;חנות;
Keywords[hi]=अपडेट;नवीनीकरण;स्रोत;भंडार;प्राथमिकताएँ;स्थापित करें;स्थापना रद्द करें;प्रोग्राम;सॉफ़्टवेयर;ऐप;स्टोर;
Keywords[hr]=Nadopune;Nadogradnja;Izvori;Repozitoriji;Osobitosti;Instaliraj;Deinstaliraj;Program;Softver;Aplikacija;Trgovina;
Keywords[hu]=Frissítések;Frissítés;Források;Tárolók;Beállítások;Telepítés;Eltávolítás;Program;Szoftver;Alkalmazás;Bolt;
Keywords[id]=Pemutakhiran;Peningkatan;Sumber;Repositori;Preferensi;Pasang;Copot;Program;Perangkat Lunak;App;Toko;
Keywords[it]=Aggiornamenti;Avanzamento;Sorgenti;Repository;Preferenze;Installare;Disinstallare;Programma;Software;Applicazione;Negozio;
Keywords[ja]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;更新;アップデート;アップグレード;ソース;リポジトリ;レポジトリ;設定;インストール;アンインストール;プログラム;ソフトウェア;アプリケーション;ストア;
Keywords[kk]=Жаңарту;Қайнар көздер;Репозиторийлер;Баптаулар;Орнату;Өшіру;Бағдарлама;БҚ;Қолданба;Дүкен;
Keywords[ko]=Updates;업데이트;Upgrade;업그레이드;Sources;공급원;Repositories;저장소;Preferences;기본 설정;Install;설치;Uninstall;설치 제거;Program;프로그램;Software;소프트웨어;App;앱;Store;스토어;
Keywords[lt]=Atnaujinimai;Šaltiniai;Saugyklos;Nuostatos;Įdiegti;Išdiegti;Programa;Programinė;Įranga;
Keywords[lv]=Atjauninājumi;Uzlabojumi;Avoti;Krātuves;Repozitoriji;Iestatījumi;Instalēt;Uzstādīt;Atinstalēt;Noņemt;Programmatūra;Lietotne;Veikals;
Keywords[mjw]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
Keywords[ml]=പുതുക്കലുകൾ;നവീകരണങ്ങൾ;ഉറവിടങ്ങൾ;റിപ്പോസിറ്ററികൾ;മുൻഗണനകൾ;ഇൻസ്റ്റാൾ ചെയ്യുക;അൺഇൻസ്റ്റാൾ ചെയ്യുക;പ്രോഗ്രാം;സോഫ്റ്റ്‌വെയർ;ആപ്പ്;കലവറ;
Keywords[ms]=Kemas kini;Tatar;Sumber;Repositori;Keutamaan;Pasang;Nyahpasang;Program;Perisian;Apl;Kedai;
Keywords[nb]=Oppdateringer;Oppgrader;Kilder;Repo;Brukervalg;Installer;Avinstaller;Program;Programvare;App;Butikk;
Keywords[nl]=Updates;Upgrade;Sources;Bronnen;Repositories;Preferences;Voorkeuren;Install;Installeren;Uninstall;Verwijderen;Program;Programma;Software;App;Toepassing;Applicatie;Store;Winkel;
Keywords[oc]=mesas a jorn;mesa a nivèl;fonts;depauses;preferéncias;installar;desinstallar;programa;aplicacion;logicial;magazin;
Keywords[pa]=ਅੱਪਡੇਟ;ਸਰੋਤ;ਰਿਪੋਜ਼ਟਰੀ;ਪਸੰਦ,ਇੰਸਟਾਲ;ਸਟੋਰ;ਅੱਪਗਰੇਡ;Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;ਅਣਇੰਸਟਾਲ;ਅਣ-ਇੰਸਟਾਲ;ਪ੍ਰੋਗਰਾਮ;ਸਾਫਟਵੇਅਰ;ਐਪ;
Keywords[pl]=Aktualizacje;Aktualizuj;Zaktualizuj;Uaktualnienia;Uaktualnij;Update;Upgrade;Źródła;Źródło;Repozytoria;Repozytorium,Preferencje;Opcje;Ustawienia;Instalacja;Zainstaluj;Odinstaluj;Deinstalacja;Deinstaluj;Program;Oprogramowanie;Software;Aplikacja;Aplikacje;App;Apps;Sklep;Store;
Keywords[pt]=Atualizações;Fontes;Origens;Repositórios;Preferências;Instalar;Desinstalar;Programa;Software;App;Loja;
Keywords[pt_BR]=Atualizações;Upgrade;Atualização;Fontes;Repositórios;Preferências;Instalação;Instalar;Desinstalar;Programa;Software;Aplicativo;App;Loja;Store;
Keywords[ro]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;Surse;Instalează;Aplicații;Depozite,Preferințe;Instalare;Dezinstalare;Actualizare;Actualizări;
Keywords[ru]=Обновления;Источники;Репозитории;Параметры;Установить;Удалить;Программа;Приложение;Магазин;
Keywords[sk]=Aktualizácie;Inovácia;Zdroje;Repozitáre;Nastavenia;Inštalácia;Inštalovanie;Odinštalovanie;Program;Softvér;Aplikácia;Obchod;
Keywords[sl]=Posodobitve;Posodobitev;Viri;Skladišča;Programi;Namestitev;Lastnosti;Odnamestitev;App;Trgovina;
Keywords[sr]=ажурирања;освежења;доградње;надоградње;извори;ризнице;складишта;поставке;инсталација;уклањање;програм;софтвер;апликација;радња;исправке;апдејтови;Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;ažuriranja;osveženja;dogradnje;nadogradnje;izvori;riznice;skladišta;postavke;instalacija;uklanjanje;program;softver;aplikacija;radnja;ispravke;apdejtovi;
Keywords[sr@latin]=ažuriranja;osveženja;dogradnje;nadogradnje;izvori;riznice;skladišta;postavke;instalacija;uklanjanje;program;softver;aplikacija;radnja;ispravke;apdejtovi;Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;ažuriranja;osveženja;dogradnje;nadogradnje;izvori;riznice;skladišta;postavke;instalacija;uklanjanje;program;softver;aplikacija;radnja;ispravke;apdejtovi;
Keywords[sv]=Uppdateringar;Uppgradera;Källor;Programvarukällor;Inställningar;Installera;Avinstallera;Program;Programvara;Mjukvara;Butik;App;Store;
Keywords[th]=ปรับรุ่น;แหล่งซอฟต์แวร์;คลังแพกเกจ;ปรับแต่ง;ติดตั้ง;ถอดถอน;โปรแกรม;ซอฟต์แวร์;แอ็ป;ร้าน;
Keywords[tr]=Güncellemeler;Güncelleştirmeler;Yükseltme;Depolar;Sürüm Depoları;Tercihler;Yükle;Kur;Kaldır;Program;Yazılım;Uygulama;Mağaza;
Keywords[uk]=Оновлення;Джерело;Сховище;Параметри;Налаштування;Встановити;Вилучити;Програма;Магазин;
Keywords[vi]=Bản cập nhật;Nâng cấp;Mã nguồn;Kho chứa mã;Ưu tiên;Cài đặt;Hủy cài đặt;Chương trình;Phần mềm;Ứng dụng;Cửa hàng;
Keywords[zh_CN]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;更新;升级;源;仓库;首选项;安装;卸载;程序;软件;应用;商店;
Keywords[zh_HK]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;;更新;升級;來源;套件庫;軟件庫;倉庫;偏好設定;安裝;解除安裝;程式;軟件;應用;商店;
Keywords[zh_TW]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;St
