[Desktop Entry]
Name=Install ZestISO
Comment=Install ZestISO on your computer
Categories=System;
Exec=/usr/lib/zestiso-installer/zestiso-installer
Terminal=false
Type=Application
Icon=system-software-install
StartupNotify=true
